html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
         */
	font-family: "Rubik", sans-serif !important;
	font-size: 15px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.page {
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.ql-editor {
	min-height: 60px;
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: auto;
	background: white;
}

.ant-form-item-label > label {
	font-weight: 600;
	color: #6c757d !important;
}
.div-col {
	/* border-right: 2px solid #cccccc; */
}
.ant-input,
.ant-select,
.ant-picker-input > input {
	font-size: 1rem !important;
}
.ql-editor {
	font-family: "Rubik", sans-serif !important;
	font-size: 15px;
}
.ql-editor.ql-blank::before {
	font-style: initial !important;
}

.ant-tabs-content-holder {
	margin-left: 20px;
	margin-right: 20px;
}
.vis-timeline {
  border:0px !important;
  /* border-radius: 10px!important; */
}
.vis-current-time {
    background-color: #1890ff!important;
    width: 2px!important;
    z-index: 1!important;
    pointer-events: none!important;
}
.vis-panel.vis-center {
    border-bottom: 0px!important;
}
.rdrInputRanges{
    display: none;
}

.rdrDefinedRangesWrapper {
    font-size: 12px;
    width: 140px!important;
    border-right: solid 1px #eff2f7;
    background: #fff;
}
